
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Tipo Contrato</h2>

<table id="tablaAreas" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nombre Tipo Contrato</th>
            <th>Aplica Aguinaldo</th>
            <th>Aplica Indemnizacion</th>
            <th>Activo</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


@section scripts
{

    <script>
        var editarUrl = '@Url.Action("EditarTipoContrato", "TipoContrato")';
    </script>

    <script src="~/Scripts/TipoContrato/dataTable.js"></script>
}
