@{
    ViewBag.Title = "Home Page";
}

<div class="row shadow-h" style="display:flex; justify-content:center; align-items:center; flex-direction:column;" >

    <h1 class="text-center" style="color: #293377;">
        Sistema de Contratacion
    </h1>

    <img src="~/Content/Images/JuegaOK.jfif" width="100"  style="margin-top: 15px; margin-bottom:15px; "/>




</div>

